
@model Mall.Web.Back.ViewModel.OrderViewModel

<h4 class="replyevaluate-title">订单信息</h4>
<table>
    <tr>
        <td>订单编号:&emsp;<span>@Model.OrderId</span></td>
        <td>下单时间:&emsp;<span>@Model.CreateTime</span></td>
    </tr>
    <tr>
        <td>发货时间:&emsp;<span>@Model.DeliveryTime</span></td>
        <td>收货时间:&emsp;<span>@Model.ReceiptTime</span></td>
        <td>成交时间:&emsp;<span>@Model.ReceiptTime</span></td>
    </tr>
</table>
