
@model PagedList.IPagedList<Mall.Web.Back.ViewModel.OrderViewModel>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "退货处理";
    Layout = "~/Views/Layout/_AdminTLE.cshtml";
}


<section class="content-header">
    <h1><i class="fa fa-reorder"></i>退货申请</h1>
</section>
<section class="content">
    <div class="order-wrapper">
        <div class="order-title">
            @Html.Partial("Order/_OrderTitle")
        </div>
        <div class="order-content">
            @Html.Partial("Order/_OrderList", Model)
            <div class="order-list-contorl">
                每页 @Model.PageSize 条记录,共 @Model.Count 条记录,共 @Model.PageCount 页,当前第 @Model.PageNumber 页
                <div class="list-contorl-button">
                    @Html.PagedListPager(Model, page => Url.Action("AllOrders", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("Order/_ModifyRemark")
@Html.Partial("Admin/_ManageConfirm")
@section css{
    @Styles.Render("~/Css/Order/Orders.css")
}
@section scripts{
    @Scripts.Render("~/JS/Order/Orders.js")
    @Scripts.Render("~/JS/Shared/ManageConfirm.js")
    @Scripts.Render("~/JS/Shared/layer_open_tip.js")
}