
@model IPagedList<Mall.Web.Front.ViewModel.GoodsInfoViewModel>
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="">

</div>
<div class="result">
    <div class="">

    </div>
    <div class="result-list">
        @foreach (var item in Model)
        {
        <div class="result-list-item">
            <div class="item-img">
                <a href="/Goods/Goods?goodsId=@item.GoodsId">
                    <img src="@item.GoodsPhotoUrl" />
                </a>
                <div class="caption">
                    <div class="caption-text">
                        <div class="item-intro">
                            作 者:@(item.Author.Length >= 9 ? item.Author.Substring(0, 8) + "…" : item.Author)
                        </div>
                        <div class="item-intro">
                            出版社:@(item.Press.Length >= 9 ? item.Press.Substring(0, 8) + "…" : item.Press)
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-info">
                <div class="title">
                    <a href="/Goods/Goods?goodsId=@item.GoodsId" title="@item.GoodsName">@(item.GoodsName.Length >= 8 ? item.GoodsName.Substring(0, 7) + "…" : item.GoodsName)</a>
                    <p>@item.CommentNumber 人已评价</p>
                </div>
                <div class="item-money">
                    ￥@item.Price&ensp;<span>￥45.00</span>
                </div>
                <div class="item-intro">
                    简 介:@(item.GoodsName.Length >= 12 ? item.GoodsName.Substring(0, 11) + "…" : item.GoodsName)
                </div>
            </div>
        </div>
        }
    </div>
    <div id="div-result">
        @Html.PagedListPager(Model, page => Url.Action("SearchResult", new { page }))
    </div>
</div>

@section css{
    @Styles.Render("~/Css/Goods/SearchResult.css")
}