@model Mall.Web.Back.ViewModel.UserViewModel

@{
    ViewBag.Title = "管理员详情";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<section class="content-header">
    <h2><i class="fa fa-file-text-o"></i>管理员详情</h2>
</section>
<section class="content">
    <div class="employee-info">
        <table>
            <tbody>
                <tr>
                    <td class="info-basic">
                        <div class="employee-info-basic">
                            <div class="info-basic-img">
                                <p class="title">头像</p>
                                <div class="img-photo-image">
                                    <img src="@Model.Photo" />
                                </div>
                            </div>
                            <table>
                                <tbody class="info-basic-content">
                                    <tr>
                                        <td>管理员Id</td>
                                        <td class="Data">@Model.UserId</td>
                                        <td>账户</td>
                                        <td class="Data">@Model.Account</td>
                                    </tr>
                                    <tr>
                                        <td>昵称</td>
                                        <td class="Data">@Model.NickName</td>
                                        <td>真实姓名</td>
                                        <td class="Data">@Model.RealName</td>
                                    </tr>
                                    <tr>
                                        <td>联系电话</td>
                                        <td class="Data">@Model.PhoneNumber</td>
                                        <td>E-mail</td>
                                        <td class="Data">@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td>性别</td>
                                        <td class="Data">@(Model.Gender == true ? "男" : "女")</td>
                                        <td>出生日期</td>
                                        <td class="Data">@Model.Birthday</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td class="info-permission">
                        <div class="employee-info-permission">
                            <div class="title">
                                <p>权限</p>
                            </div>
                            <div class="permission">
                                @Html.Action("GetEmployeePermissions", "StaffManage", new { employeeId = Model.UserId })
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="employee-action">
        <h3>管理员日志</h3>
        @Html.Action("EmployeeActions", "StaffManage", new { userId = Model.UserId })
    </div>
</section>
@section css{
    @Styles.Render("~/Css/StaffManage/EmployeeDetails.css")
    @Styles.Render("~/Css/StaffManage/EmployeePermissions.css")
}