
@model Mall.Web.Front.ViewModel.OrderViewModel

@{
    ViewBag.Title = "ConfirmReceipt";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="CR-head">
    <h2>确认收货</h2>
</div>
<div class="CR-infor">
    <div class="CR-titel">订单详情</div>
    <div class="CR-detail">
        <div class="CR-detail-cilent">
            <h3 class="titel">买家信息</h3>
            <div class="CR-detail-cilent-info">
                <table>
                    <tr>
                        <td>
                            <span class="mark">收货人姓名:</span>&emsp;<span>@Model.Consignee</span>
                        </td>
                        <td>
                            <span class="mark">收货地址:</span>&emsp;<span>@Model.DeliveryAddress</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="mark">派送方式:</span>&emsp;<span>快递</span>
                        </td>
                        <td>
                            <span class="mark">联系电话:</span>&emsp;<span>@Model.PhoneNumber</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="CR-detail-order">
            <h3 class="titel">订单信息</h3>
            <div class="CR-detail-order-info">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <span class="mark">订单编号:</span>&emsp;<span>@Model.OrderId</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="mark">下单时间:</span>&emsp;<span>@Model.CreateTime</span>
                            </td>
                            <td>
                                <span class="mark">发货时间:</span>&emsp;<span>XXXX-XX-XX XX:XX:XX</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="mark">收货时间:</span>&emsp;<span>@Model.ReceiptTime</span>
                            </td>
                            <td>
                                <span class="mark">成交时间:</span>&emsp;<span>XXXX-XX-XX XX:XX:XX</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="CR-detail-goods">
            <h3 class="titel">商品信息</h3>
            <div class="CR-detail-head">
                <ul>
                    <li class="detail">商品简介</li>
                    <li>作者</li>
                    <li>单价</li>
                    <li>数量</li>
                    <li>总价</li>
                    <li>运费</li>
                    <li>操作</li>
                </ul>
            </div>
            <div class="CR-detail-goods-info">
                <ul>
                    <li class="detail">
                        <a href="">
                            <img src="~/Pictures/Shared/contact.png" />
                        </a>
                        <span>和我靓女成本会计被我日hi都是快乐男生都i走</span>
                    </li>
                    <li>author</li>
                    <li>123.00</li>
                    <li>1</li>
                    <li class="money">￥123.00</li>
                    <li class="money">￥0.00</li>
                    <li><a href="#">再次购买</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="CR-sign">
    <span><i class="fa fa-exclamation-circle"></i></span>
    此结果由云翳网站提供
</div>
<div class="CR-confirm">
    <div class="CR-confirm-titel">确认收货</div>
    <div class="CR-confirm-detail">
        <div class="confirm">
            <div class="confirm-sign">
                <p class="confirm-sign-confirm"><span><i class="fa fa-exclamation-circle"></i></span>请收到货后，确认商品是否满意，再确认收货！</p>
                <p><span><i class="fa fa-exclamation-circle"></i></span>如有疑问请联系客服！</p>
            </div>
            <div class="confirm-input">
                    支付密码:&emsp;<input id="input_pay_password" type="password" />
                    <button class="confirm-button" type="button" onclick="ConfirmReceipt('@Model.OrderId')">确认收货</button>
            </div>
        </div>
    </div>
</div>
@section css{
    @Styles.Render("~/Css/Custom/ConfirmReceipt.css")
}
@section scripts{
    @Scripts.Render("~/JS/Custom/ConfirmReceipt.js")
    @Scripts.Render("~/JS/Custom/SecuritySet.js")
}