
@{
    ViewBag.Title = "Security";
    Layout = "~/Views/Layout/_ClientLayout.cshtml";
}

<section class="content-header">
    <h1><i class="fa fa-lock"></i><span>安全设置</span></h1>
</section>
<section class="content">
    <div class="security-set">
        <div class="security-set-title">
            <h4>管理密码</h4>
        </div>
        <div class="security-set-log">
            <div class="tip log-tip">
                <h4>登录密码</h4>
            </div>
            <div class="pay-password">
                <p class="title"><span class="star">*</span>旧登录密码</p>
                <input id="input_log_password" type="password" />
                <button onclick="ConfirmLP()" type="button" class="password-submit">确认</button>
            </div>
        </div>
        <div class="security-set-pay">
            <div class="tip pay-tip">
                <h4>支付密码</h4>
            </div>
            <div class="pay-password">
                <p class="title"><span class="star">*</span>旧支付密码</p>
                <input id="input_pay_password" type="password" />
                <button onclick="ConfirmPP()" type="button" class="password-submit">确认</button>
            </div>
        </div>
    </div>
    @Html.Partial("ViewComponents/_ModifyLP")
    @Html.Partial("ViewComponents/_ModifyPP")
</section>
@section css{
    @Styles.Render("~/Css/Custom/SecuritySet.css")
}
@section scripts{
    @Scripts.Render("~/JS/Custom/SecuritySet.js")
    @Scripts.Render("~/JS/Shared/layer_open_tip.js")
}
@{
    var changePP = TempData["ChangePP"];
    if (changePP != null)
    {
        if (changePP.Equals("success"))
        {
            <script>
                layer.open({
                    title: '提示',
                    content: '修改支付密码成功,下次使用时生效!',
                });
            </script>
            TempData["ChangePP"] = null;
        }
    }
}
