<div class="navbar-head">
    <div class="head">
        <div class="logo">
            <a href="/Home/Home">
                <img src="~/Pictures/Shared/云翳(logo).png" title="主页" />
            </a>
            <span class="location">
                <span>
                    @DateTime.Now.Month 月 @DateTime.Now.Day 日 @DateTime.Now.DayOfWeek
                </span>
                <span>重庆</span>
            </span>
        </div>
        <div class="head-message">
            <form action="/Goods/SearchResult">
                <input name="searchName" placeholder="搜索书籍名称" />
                <button id="search-button" type="submit"></button>
            </form>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/Account/Index" title="个人中心">
                        <i class="fa fa-male"></i>
                        个人中心
                    </a>
                </li>
                <li>
                    <a href="/Users/ShoppingCart" title="购物车">
                        <i class="fa fa-shopping-cart"></i>
                        购物车
                    </a>
                </li>
                <li>
                    <a href="#" title="联系客服">
                        <i class="fa fa-phone"></i>
                        联系客服
                    </a>
                </li>
                <li>
                    <a href="#" title="网站导航">
                        <i class="fa fa-compass"></i>
                        网站导航
                    </a>
                </li>
            </ul>
        </div>
        <div class="client">
            <div id="no_account" class="client-no-account">
                <a href="/Account/Index" title="个人中心">
                    <img src="~/Pictures/Users/Avatar/avatar.png" />
                </a>
                <span>亲,请</span>
                <a href="/Users/Index">[登录]</a>
            </div>
            <div id="has_account" class="client-has-account">
                <a href="/Account/Index">
                    <img src="" />
                </a>
                <span>欢迎您,</span>
                <a id="account_name" href="/Account/Index"></a>
            </div>
        </div>
    </div>
</div>
<div class="navbar-search" id="search-flip">
    <div>
        <a href="/Home/Home">
            <img src="~/Pictures/Shared/云翳(logo).png" title="主页" />
        </a>
        <div class="head-message">
            <form action="/Goods/SearchResult">
                <input name="search" placeholder="搜索书籍名称" />
                <button id="search-button" type="submit"></button>
            </form>
        </div>
        <div class="client">
            <div id="navbar_no_account" class="client-no-account">
                <a href="/Account/Index" title="个人中心">
                    <img src="~/Pictures/Users/Avatar/avatar.png" />
                </a>
                <span>亲,请</span>
                <a href="/Users/Index">[登录]</a>
            </div>
            <div id="navbar_has_account" class="client-has-account">
                <a href="/Account/Index">
                    <img src="" />
                </a>
                <span>欢迎您,</span>
                <a id="navbar_account_name" href="/Account/Index"></a>
            </div>
        </div>
    </div>
</div>
@section css{
    @Styles.Render("~/Css/Shared/Head.css");
}
@{
    var client = Session["Client"];
    if (client != null)
    {
        Mall.Service.DataBase.Client c = (Mall.Service.DataBase.Client)Session["Client"];
        <script>
            $("#has_account").show();
            $("#no_account").hide();
            $("#account_name").text("@c.User.NickName");
            $("#has_account img").attr("src", "@c.User.Photo");

            $("#navbar_has_account").show();
            $("#navbar_no_account").hide();
            $("#navbar_account_name").text("@c.User.NickName");
            $("#navbar_has_account img").attr("src", "@c.User.Photo");
        </script>
    }
    else
    {
        <script>
            $("#has_account").hide();
            $("#no_account").show();

            $("#navbar_has_account").hide();
            $("#navbar_no_account").show();
        </script>
    }
}